header {
  width: 200px; }

header {
  grid-area: header;
  width: 100%; }
  header .brandWrap {
    background-color: black; }
    header .brandWrap .brand {
      text-align: center;
      -webkit-transform: scaleX(2.5);
      transform: scaleX(1.5);
      font-size: 6em;
      font-weight: 600;
      color: #eeeeee;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase; }

nav {
  grid-area: nav;
  background-color: black; }

main {
  grid-area: main; }
  main .mainTitleWrap {
    display: grid;
    justify-content: center;
    margin-top: 3%; }
  main .mainTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    -webkit-transform: scaleX(2.1);
    transform: scaleX(1.4); }
  main .gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 95%;
    margin: auto; }
  main .gallery > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
  main .gallery img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover; }
  main .gallery :hover img {
    filter: blur(2px);
    transition: transform 0.5s; }
  main .lightBox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0); }
  main .lightBox:target {
    transform: scale(1); }
  main .lightBox img {
    max-height: 90vh; }
  main .lightBox .close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%; }

.mainNosotros {
  grid-area: main;
  background-image: url(/img/backround/newspaperBackround.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .mainNosotros .mainTitleWrap {
    display: grid;
    justify-content: center;
    margin-top: 4%; }
  .mainNosotros .mainTitle {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 800;
    font-size: 3em;
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.5); }
  .mainNosotros .aboutUs {
    display: grid;
    justify-content: center; }
  .mainNosotros .aboutUs p {
    text-align: center;
    font-size: 1em; }

/*footer*/
.footerHome {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: black; }
  .footerHome .redesIconos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-content: space-around;
    height: 8vh;
    margin: 8px; }
  .footerHome .redesIconos a {
    background: black;
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transition: 1s all; }
  .footerHome .redesIconos a:hover {
    transform: scale(1.1); }
  .footerHome .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    text-align: center;
    color: whitesmoke;
    margin: 1em; }
  .footerHome .logoFooterWrap {
    display: flex;
    position: absolute;
    justify-content: left;
    align-self: center;
    width: 100%;
    padding: 0 0 0 5%;
    transition: 0.5s all; }
  .footerHome .logoFooterWrap a:hover {
    transform: scale(1.1); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: whitesmoke; }
  body .grid {
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 32% 15% 160% 30%;
    height: 100vh; }
