header {
  display: grid;
  grid-area: header;
  width: 100%;
  align-items: center; }
  header .brandWrap {
    display: grid;
    background-color: #000000; }
  header .brand {
    text-align: center;
    font-size: 7em;
    font-weight: 800;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0; }
  header .sub {
    text-align: center;
    font-size: 0.7em;
    font-weight: 400;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; }

nav {
  grid-area: nav;
  background-color: #000000; }
  nav .navbar-collapse {
    justify-content: right;
    padding-right: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9em; }
  nav .navbar-brand {
    padding-left: 1.5em; }

main {
  grid-area: main;
  background-image: url(/img/backround/newspaperBackround2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* newsletter */ }
  main .mainTitleWrap {
    display: grid;
    width: 100%;
    height: 2%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #000000; }
  main .mainTitle {
    font-family: 'Roboto', sans-serif;
    color: #964f0c;
    font-weight: 800;
    font-size: 1em;
    font-style: italic; }
  main .gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 95%;
    margin: auto; }
  main .gallery > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
  main .gallery img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover; }
  main .gallery :hover img {
    filter: blur(2px);
    transition: transform 0.5s; }
  main .lightBox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    cursor: zoom-in; }
  main .lightBox:target {
    transform: scale(1); }
  main .lightBox img {
    max-height: 90vh; }
  main .lightBox .close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%; }
  main .newsletterWrap {
    grid-area: main;
    background: #000000;
    padding: 2% 5%;
    margin-top: 3%;
    align-items: center;
    text-align: center; }
  main .newsletterWrap p {
    max-width: 600px;
    margin: 2% auto;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke; }
  main .newsletterWrap .title {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
  main .emailBox {
    display: flex;
    height: 5%;
    justify-content: center; }
  main .emailBox i {
    background: #2f3542;
    color: white;
    width: 5%;
    line-height: 40px; }
  main .tbox .button {
    border: none;
    outline: none; }
  main .tbox {
    width: 0;
    transition: 0.7s; }
  main .emailBox:hover > .tbox, main .tbox:focus {
    width: 260px;
    padding: 0 10px; }
  main .button {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer; }

/*nosotros*/
.mainNosotros {
  grid-area: main;
  background-image: url(/img/backround/newspaperBackround.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .mainNosotros .aboutUs {
    padding-top: 1%;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center; }
  .mainNosotros .mainTitleAboutUsWrap {
    padding-top: 1%;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .mainNosotros .mainTitleAboutUs {
    font-family: 'Roboto',sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    font-style: italic; }
  .mainNosotros .aboutUsText {
    position: absolute;
    width: 58%;
    height: 11.5%;
    background-color: #000000;
    align-items: center; }
  .mainNosotros .aboutUsText p {
    font-family: 'Noticia Text', serif;
    color: #a8a8a8;
    font-size: 0.7rem;
    font-weight: 900;
    text-align: center;
    margin: 1%; }
  .mainNosotros .mainTitleWrapCloser {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%; }
  .mainNosotros .mainTitleCloser {
    font-family: 'Roboto',sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3em; }

/*main products*/
.mainProductsWrap {
  grid-area: main;
  background-image: none;
  background-color: #000000; }
  .mainProductsWrap .mainProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .mainProductsWrap .card {
    display: flex;
    text-align: center;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 2%; }
  .mainProductsWrap .card-img-top {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover; }

/* main fall22*/
.mainFall22Wrap {
  grid-area: main; }
  .mainFall22Wrap .mainFall22 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .mainFall22Wrap .card {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 2%; }
  .mainFall22Wrap .card-img-top {
    width: 100%;
    vertical-align: top;
    height: 400px;
    object-fit: cover; }

.mainContacto {
  grid-area: main; }
  .mainContacto .form {
    width: 400px;
    background-color: #000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000; }
  .mainContacto .form h4 {
    font-size: 2em;
    color: whitesmoke;
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif; }
  .mainContacto .formBox {
    width: 100%;
    background: #d4d4d4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #e2e2e2;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #494949; }
  .mainContacto .form .sendButton {
    width: 100%;
    background: #4d4b4b;
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 16px 0;
    font-size: 16px; }

/*footer*/
.footerHome {
  display: grid;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  background-color: #000000; }
  .footerHome .redesIconosWrap {
    display: grid;
    padding-top: 8%; }
  .footerHome .redesIconos {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    justify-content: space-around; }
  .footerHome .redesIconos a {
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1%;
    cursor: pointer;
    transition: 1s all; }
  .footerHome .redesIconos a:hover {
    transform: scale(1.1); }
  .footerHome .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    text-align: center;
    color: whitesmoke;
    margin: 1em; }
  .footerHome .logoFooterWrap {
    display: flex;
    position: absolute;
    justify-content: left;
    align-self: center;
    width: 100%;
    padding: 0 0 0 5%;
    transition: 0.5s all; }
  .footerHome .logoFooterWrap a:hover {
    transform: scale(1.1); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }
  body .grid {
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 28% 25% 190% 30%;
    height: 100vh; }

/*grid products*/
.gridProducts {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 28% 25% 290% 30%;
  height: 100vh; }

/*grid nosotros*/
.gridNosotros {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 28% 25% 170% 30%;
  height: 100vh; }

/*grid fall22*/
.gridFall22 {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 28% 25% 190% 30%;
  height: 100vh; }

/*grid contact*/
.gridContacto {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 28% 25% 100% 30%;
  height: 100vh; }

/*media queries*/
@media screen and (min-width: 320px) and (max-width: 375px) {
  body .grid {
    grid-template-rows: 30% 35% 170% 30%; }
  .gridNosotros {
    grid-template-rows: 30% 35% 100% 30%; }
  header .brand {
    font-size: 6em; }
  header .sub {
    font-size: 0.6em; }
  /* newsletter */
  main .newsletterWrap {
    margin-top: 6%; }
  main .emailBox i {
    width: 20%; }
  main .tbox {
    width: 100%;
    transition: none; }
  main .emailBox:hover > .tbox, main .tbox:focus {
    width: 170px;
    padding: 0 10px; }
  main .button {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer; }
  .mainNosotros .aboutUs {
    padding-top: 20%; }
  .mainNosotros .mainTitleAboutUsWrap {
    padding-top: 10%; }
  .mainNosotros .mainTitleAboutUs {
    text-align: center;
    font-size: 2em; }
  .mainNosotros .mainImgAboutUs img {
    width: 320px;
    height: 520px; }
  .mainNosotros .aboutUsText {
    width: 100%;
    height: 33%;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.623); }
  .mainNosotros .mainTitleWrapCloser {
    width: 95%;
    height: 100%;
    padding-bottom: 10%; }
  .mainNosotros .mainTitleCloser {
    text-align: center;
    font-size: 2em; }
  .footerHome .logoFooterWrap {
    justify-content: center;
    padding: 0; } }
