header {
  width: 200px; }

header {
  grid-area: header;
  width: 100%; }
  header .brandWrap {
    background-color: black; }
    header .brandWrap .brand {
      text-align: center;
      -webkit-transform: scaleX(2.5);
      transform: scaleX(1.5);
      font-size: 6em;
      font-weight: 600;
      color: #eeeeee;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase; }

nav {
  grid-area: nav;
  background-color: black; }

main {
  grid-area: main; }
  main .mainTitleWrap {
    display: grid;
    justify-content: center; }
  main .mainTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    -webkit-transform: scaleX(2.1);
    transform: scaleX(1.4); }
  main .gallery {
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    margin: auto; }
  main .gallery img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover; }

/*footer*/
.footerHome {
  display: flex;
  justify-content: center;
  grid-area: footer;
  background-color: black; }
  .footerHome .redesIconos {
    display: flex;
    padding: 20px;
    margin-top: 8px;
    justify-content: center;
    justify-content: space-around; }
  .footerHome .redesIconos a {
    background: whitesmoke;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: black;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
    transition: 0.5s all;
    margin: 11px; }
  .footerHome .redesIconos a:hover {
    transform: scale(1.1); }
  .footerHome .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
    color: whitesmoke;
    margin: 5px; }
  .footerHome .logoFooterWrap {
    display: flex;
    grid-area: footer;
    position: absolute;
    justify-content: left;
    align-self: center;
    width: 100%;
    padding: 0 0 0 5%; }

* {
  margin: 0;
  padding: 0; }

body .grid {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 30% 8% 10% 20%;
  height: 100vh; }
