@import "base/variables";
@import "base/operations";
@import "components/header";
@import "components/nav";
@import "components/main";
@import "components/footer";

*{
    margin: 0;
    padding: 0;
}

body{
    .grid{
        display: grid;
        grid-template-areas:"nav"
                            "header"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 32% 20% 140% 30%;
        height: 100vh;
    }
}