/*footer*/
.footerHome{
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    background-color: black;
    .redesIconosWrap{
        display: grid;
        padding-top: 8%;
    }
        .redesIconos{
            display: grid;
            position: relative;
            grid-template-columns: auto auto auto;
            justify-content: space-around;
        }
            .redesIconos a{
                text-decoration: none;
                font-size: 25px;
                color: whitesmoke;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 1%;
                cursor: pointer;
                transition: 1s all;
            }
                .redesIconos a:hover{
                    transform: scale(1.1);
                }
                    .copyright{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 0.7em;
                        text-align: center;
                        color: whitesmoke;
                        margin: 1em;
                    }
                        .logoFooterWrap{
                            display: flex;
                            position: absolute;
                            justify-content: left;
                            align-self: center;
                            width: 100%;
                            padding: 0 0 0 5%;
                            transition: 0.5s all;
                        }
                            .logoFooterWrap a:hover{
                                transform: scale(1.1);
                            }
}