/*footer*/
.footerHome{
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: black;
    .redesIconosWrap{
        padding-top: 2%;
    }
        .redesIconos{
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
            .redesIconos a{
                background: whitesmoke;
                border-radius: 50%;
                text-decoration: none;
                font-size: 30px;
                color: black;
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 58px;
                cursor: pointer;
                transition: 0.5s all;
                margin: 10px;
            }
                .redesIconos a:hover{
                    transform: scale(1.1);
                }
                    .copyright{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 200;
                        font-size: 0.7em;
                        text-align: center;
                        color: whitesmoke;
                        margin: 3em;
                    }
                        .logoFooterWrap{
                            display: flex;
                            position: absolute;
                            justify-content: left;
                            align-self: center;
                            width: 100%;
                            padding: 0 0 0 5%;
                        }
}