header{
    display: grid;
    grid-area: header;
    width: 100%;
    align-items: center;
    .brandWrap{
        display: grid;
        background-color: black;
        .brand{
            text-align: center;
            font-size: 7em;
            font-weight: 800;
            color: #eeeeee;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
        }
    } 
}