main{
    grid-area: main;
    .mainTitleWrap{
        display: grid;
        justify-content: center;
    }
        .mainTitle{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            -webkit-transform: scaleX(2.1);
            transform: scaleX(1.4);
        }
            .gallery{
                display: grid;
                grid-template-columns: 40% 40%;
                width: 100%;
                margin: auto;
            }
                .gallery img{
                    width: 100%;
                    vertical-align: top;
                    height: 300px;
                    object-fit: cover;
                }
}