main{
    grid-area: main;
    .mainTitleWrap{
        display: grid;
        justify-content: center;
        margin-top: 3%;
    }
        .mainTitle{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            -webkit-transform: scaleX(2.1);
            transform: scaleX(1.4);
        }
            .gallery{
                display: grid;
                grid-template-columns: 50% 50%;
                width: 95%;
                margin: auto;
            }
                .gallery > a{
                    display: block;
                    position: relative;
                    overflow: hidden;
                    box-shadow: 0 0 6px rgba(0,0,0,.5);
                }
                    .gallery img{
                        width: 100%;
                        vertical-align: top;
                        height: 300px;
                        object-fit: cover;
                    }
                        .gallery :hover img{
                            filter: blur(2px);
                            transition: transform 0.5s;
                        }
                            .lightBox{
                                position: fixed;
                                top: 0;
                                left: 0;
                                background: rgba(0,0,0,.5);
                                width: 100%;
                                height: 100vh;
                                z-index: 1000;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(0);
                            }
                                .lightBox:target{
                                    transform: scale(1);
                                }
                                    .lightBox img{
                                        max-height: 90vh;
                                    }
                                        .lightBox .close{
                                            display: block;
                                            position: absolute;
                                            top: 40px;
                                            right: 40px;
                                            background-color: black;
                                            color: white;
                                            text-decoration: none;
                                            width: 40px;
                                            height: 40px;
                                            text-align: center;
                                            line-height: 40px;
                                            border-radius: 50%;
                                        }
                            
}

.mainNosotros{
    grid-area: main;
    background-image:url(/img/backround/newspaperBackround.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}