main{
    grid-area: main;
    background-image:url(/img/backround/newspaperBackround2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .mainTitleWrap{
        display: grid;
        width: 100%;
        height: 2%;
        margin-top: 2%;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
    }
        .mainTitle{
            font-family: 'Roboto', sans-serif;
            color: rgb(150, 79, 12);
            font-weight: 800;
            font-size: 1em;
            font-style: italic;
        }
            .gallery{
                display: grid;
                grid-template-columns: 50% 50%;
                width: 95%;
                margin: auto;
            }
                .gallery > a{
                    display: block;
                    position: relative;
                    overflow: hidden;
                    box-shadow: 0 0 6px rgba(0,0,0,.5);
                }
                    .gallery img{
                        width: 100%;
                        vertical-align: top;
                        height: 300px;
                        object-fit: cover;
                    }
                        .gallery :hover img{
                            filter: blur(2px);
                            transition: transform 0.5s;
                        }
                            .lightBox{
                                position: fixed;
                                top: 0;
                                left: 0;
                                background: rgba(0,0,0,.5);
                                width: 100%;
                                height: 100vh;
                                z-index: 1000;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(0);
                                cursor: zoom-in;
                            }
                                .lightBox:target{
                                    transform: scale(1);
                                }
                                    .lightBox img{
                                        max-height: 90vh;
                                    }
                                        .lightBox .close{
                                            display: block;
                                            position: absolute;
                                            top: 40px;
                                            right: 40px;
                                            background-color: $main-color;
                                            color: white;
                                            text-decoration: none;
                                            width: 40px;
                                            height: 40px;
                                            text-align: center;
                                            line-height: 40px;
                                            border-radius: 50%;
                                        }
                                            /* newsletter */
                                            .newsletterWrap{
                                                grid-area: main;
                                                background: #000000;
                                                padding: 2% 5%;
                                                margin-top: 3%;
                                                align-items: center;
                                                text-align: center;
                                            }
                                                .newsletterWrap p{
                                                    max-width: 600px;
                                                    margin: 2% auto;
                                                    font-size: 15px;
                                                    font-weight: 300;
                                                    font-family: 'Roboto', sans-serif;
                                                    color: $color2;
                                                }
                                                    .newsletterWrap .title{
                                                        color: $color2;
                                                        font-family: 'Roboto', sans-serif;
                                                        font-weight: 500;
                                                    }
                                                        .emailBox{
                                                            display: flex;
                                                            height: 5%;
                                                            justify-content: center;
                                                        }
                                                            .emailBox i{
                                                                background: #2f3542;
                                                                color: white;
                                                                width: 5%;
                                                                line-height: 40px;
                                                            }
                                                                .tbox .button{
                                                                    border: none;
                                                                    outline: none;
                                                                }
                                                                    .tbox{
                                                                        width: 0;
                                                                        transition: 0.7s;
                                                                    }
                                                                        .emailBox:hover > .tbox,.tbox:focus{
                                                                            width: 260px;
                                                                            padding: 0 10px;
                                                                        }
                                                                            .button{
                                                                                background: $color2;
                                                                                font-family: 'Roboto', sans-serif;
                                                                                color: black;
                                                                                padding: 0 10px;
                                                                                text-transform: uppercase;
                                                                                cursor: pointer;
                                                                            }
}

/*nosotros*/
.mainNosotros{
    grid-area: main;
    background-image:url(/img/backround/newspaperBackround.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .aboutUs{
        padding-top: 1%;
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
        .mainTitleAboutUsWrap{
            padding-top: 1%;
            display: flex;
            position: absolute;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
            .mainTitleAboutUs{
                font-family: 'Roboto',sans-serif;
                color: #000000;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 3em;
                font-style: italic;
            }
                
                .aboutUsText{
                    position: absolute;
                    width: 58%;
                    height: 11.5%;
                    background-color: $main-color;
                    align-items: center;
                }
                    .aboutUsText p{
                        font-family: 'Noticia Text', serif;
                        color: rgb(168, 168, 168);
                        font-size: 0.7rem;
                        font-weight: 900;
                        text-align: center;
                        margin: 1%;
                    }
                        .mainTitleWrapCloser{
                            display: flex;
                            position: absolute;
                            justify-content: center;
                            align-items: flex-end;
                            width: 100%;
                            height: 100%;
                        }
                            .mainTitleCloser{
                                font-family: 'Roboto',sans-serif;
                                color: #000000;
                                text-transform: uppercase;
                                font-weight: 900;
                                font-style: italic;
                                font-size: 3em;
                            }
}

/*main products*/
.mainProductsWrap{
    grid-area: main;
    background-image: none;
    background-color: $main-color;
    .mainProducts{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
        .card{
            display: flex;
            text-align: center;
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            margin: 3em;
            box-shadow: 0 0 6px rgba(0,0,0,.5);
            border-radius: 2%;
        }
            .card-img-top{
                width: 100%;
                vertical-align: top;
                height: 300px;
                object-fit: cover;
            }
}

/* main fall22*/
.mainFall22Wrap{
    grid-area: main;
    .mainFall22{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
        .card{
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-between;
            margin: 3em;
            box-shadow: 0 0 6px rgba(0,0,0,.5);
            border-radius: 2%;
        }
            .card-img-top{
                width: 100%;
                vertical-align: top;
                height: 400px;
                object-fit: cover;
            }
}

.mainContacto{
    grid-area: main;
    .form{
        width: 400px;
        background-color: #000;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px; 
        box-shadow: 7px 13px 37px #000;
    }
        .form h4{
            font-size: 2em;
            color: $color2;
            margin-bottom: 20px;
            font-family: 'Roboto',sans-serif;
        }
            .formBox{
                width: 100%;
                background: #d4d4d4;
                padding: 10px;
                border-radius: 4px;
                margin-bottom: 16px;
                border: 1px solid #e2e2e2;
                font-family: 'Roboto',sans-serif;
                font-size: 15px;
                font-style: italic;
                color: rgb(73, 73, 73);
            }
                .form .sendButton{
                    width: 100%;
                    background: #4d4b4b;
                    border: none;
                    padding: 12px;
                    color: $color2;
                    margin: 16px 0;
                    font-size: 16px;
                }
}