nav{
    grid-area: nav;
    background-color: black;
    .navbar-collapse{
        justify-content: right;
        padding-right: 3em;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.9em;
    }
    .navbar-brand{
        padding-left: 1.5em;
    }
}
